@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0D0F0E;
}
::-webkit-scrollbar-thumb {
  background: #1E2421;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4ADE80;
}